{% extends 'basefile.html' %}
{% block body %}
<div class="col-lg-8 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="bg-primary text-center p-5">
        <h1 class="mb-4">Edit Student</h1>
        <form action="{% url 'editstudent' e1.id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %} 
            <div class="row g-3">
                <div class="col-sm-6">
                    <div class="form-floating">
                        <input value="{{e1.firstname}}" type="text" class="form-control border-0" id="fname" name="fname" placeholder="Gurdian Name">
                        <label for="fname">Your First Name</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating">
                        <input value="{{e1.lastname}}" type="text" class="form-control border-0" id="lname" name="lname" placeholder="Gurdian Name">
                        <label for="lname">Your Last Name</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating">
                        <input value="{{e1.email}}" type="email" class="form-control border-0" id="email" name="email" placeholder="Gurdian Email">
                        <label for="email">Your Email</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating">
                        <input value="{{e1.age}}" type="number" class="form-control border-0" id="age" name="age" placeholder="Child Name">
                        <label for="age">Your Age</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating">
                        <input value="{{e1.phone}}" type="tel" class="form-control border-0" id="phone" name="phone"  placeholder="Child Age">
                        <label for="phone">Your Mobile No.</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating">
                        <input type="file" class="form-control border-0" name="img">
                        <label for="img">Your Image</label>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-dark w-100 py-3" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>  
{% endblock %}




{% comment %} 
    <form align="center" action="{% url 'editstudent' e1.id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %} 
    
        <label for="fname" >First Name :</label>
        <input value="{{e1.firstname}}"type="text" name="fname"><br><br>
    
        <label for="lname">Last Name :</label>
        <input value="{{e1.lastname}}"type="text" name="lname"><br><br>
        
        <label for="age">Age :</label>
        <input value="{{e1.age}}"type="number" name="age"><br><br>
        
        <label for="email">Email :</label>
        <input value="{{e1.email}}"type="email" name="email"><br><br>
        
        <label for="phone">Phone :</label>
        <input value="{{e1.phone}}"type="tel" name="phone"><br><br>

        <label for="img">Image :</label>
        <input type="file" name="img"><br><br>

        <button type="submit">Submit</button>
    </form> {% endcomment %}
   